
.form-control {
    margin: 1rem;
}
.form-control label ,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid aqua;
    font: inherit;
    border-radius: 2px;
}

button {
    border: 1px solid black;
    font: inherit;
    color: violet;
    background: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}
button:hover ,
button:active {
    color: red;
    background: #1ddd84;
}