<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-item" > <a href="/">Home</a></li>
                <li class="main-header-item" > <a class = "active"  href="/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <form class="product-form" action = "/add-user" methode = "POST">
            <div class="form-control">
                <label for = "title"> Title</label>
                <input type ="text" name="title" id="title">
            </div>
            
            <button type = "submit"> Add User </button>
        </form>


    </main>
</body>
</html>